.news-activity .webfx-switch {
    cursor: pointer;
}

/* Adding round border on searchbar */
.searchbar {
    --fx-border: 1px solid lightgray;
    --fx-border-radius: 50px;
}

/* Removing text field border in search bar */
.searchbar fx-textfield {
    --fx-border: none;
}
