/* Customizing the switch color to orange (when selected) */
* {
    -kadampa-org-orange-color: #EE7130;
    -webfx-switch-selected-background-color: -kadampa-org-orange-color;
}

.news-activity .webfx-switch {
    -fx-cursor: hand;
}

/* Removing hyperlink default padding (ex: News title) */
.hyperlink {
    -fx-padding: 0;
}

.searchbar {
    -fx-border-color: lightgray;
    -fx-border-width: 1px;
    -fx-border-radius: 50px;
}

.searchbar TextField {
    -fx-border: none;
    -fx-background: none;
}

.searchbar TextField:focused {
    -fx-border: none;
    -fx-background-color: transparent;
    -fx-highlight-fill: transparent;
}