.news-activity .webfx-switch {
    cursor: pointer;
}

/* Adding round border on searchbar */
.searchbar {
    --fx-border-style: solid;
    --fx-border-color: lightgray;
    --fx-border-width: 1px;
    --fx-border-radius: 50px;
}

/* Removing text field border in search bar */
.searchbar fx-textfield {
    --fx-border-style: none;
}
