/* Adding round border on searchbar */
.searchbar > fx-border {
    border: 1px solid lightgray;
    border-radius: 50px;
}

/* Removing textfield border in search bar */
.searchbar fx-textfield > fx-border {
    border: none;
}
