.kbs-main-login {
    --webfx-login-portal-background-image: url("./frontoffice/images/Manjushri.jpg");
}

/* Maybe this should be managed by the WebFX Kit, but without this rule, the browser takes the original element size
   instead of the clip size, enlarging the scroll pane height unnecessarily. */
fx-aspectratiopane {
    overflow: hidden;
}

.kbs-main-login .help-text {
    text-align: center;
    color: white;
    padding: 5px 5px 1px 5px;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 25px;
    border-color: rgba(255, 255, 255, 0.21);
}

.kbs-main-login .help-text a {
    color: white;
}