:root {
    --spring-festival-color: #159428;
    --summer-festival-color: #FEBC21;
    --fall-festival-color: #FFA264;
    --home-header-color: #4A4748;
    --festival-color: unset;
    --festival-background-url: unset;
}

.festivals-header, .podcasts-header {
    font-weight: bold;
    font-size: 40px;
    --fx-text-fill: var(--home-header-color);
}

.festival-thumbnail, .home-podcasts {
    font-family: var(--poppins-font-family), serif;
    font-weight: 400;
    font-size: 13px;
    --fx-border-radius: 8px;
    --fx-background: url("./home/pixel-white-80.png") center center / cover repeat, var(--festival-background-url) center center / cover no-repeat;
}

.festival-thumbnail fx-label.festival-name {
    font-family: var(--vollkorn-font-family), serif;
    font-weight: 500;
    font-size: 36px;
    --fx-text-fill: var(--festival-color);
}

.festival-thumbnail fx-button {
    font-weight: 600;
    font-size: 16px;
    --fx-button-background: var(--festival-color);
    --fx-text-fill: white;
    --fx-border: none;
    --fx-border-radius: 8px;
    cursor: pointer;
}

.festival-thumbnail.spring-festival {
    --festival-background-url: url("./home/spring-background.png");
    --festival-color: var(--spring-festival-color);
}

.festival-thumbnail.summer-festival {
    --festival-background-url: url("./home/summer-background.png");
    --festival-color: var(--summer-festival-color);
}

.festival-thumbnail.fall-festival {
    --festival-background-url:  url("./home/fall-background.png");
    --festival-color: var(--fall-festival-color);
}

.home-podcasts {
    --fx-background: url("./home/pixel-white-80.png"), url("./home/podcasts-background.png");
}


.more-events {
    font-size: 16px;
    --fx-text-fill: var(--brand-main-color);
}

.podcasts-card {
    --fx-background: white;
    --fx-border-radius: 8px;
}

.podcasts-card .card-title {
    font-weight: 600;
    font-size: 16px;
}

.podcasts-card .card-content {
    font-weight: 600;
    font-size: 13px;
    color: #838788;
}

.home-podcasts fx-button {
    font-weight: 600;
    font-size: 16px;
    color: white;
    --fx-button-background: var(--home-header-color);
    --fx-border-radius: 8px;
    --fx-border: none;
    cursor: pointer;
}

.book-now-dialog {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-size: 2em;
}

.book-now-dialog {
    --fx-background: white;
    --fx-border-radius: 20px;
}