* {
    -spring-festival-color: #159428;
    -summer-festival-color: #FEBC21;
    -fall-festival-color: #FFA264;
    -home-header-color: #4A4748;
}

.festival-thumbnail, .home-podcasts {
    -fx-font-family: -poppins-font-family;
    font-weight: 400;
    font-size: 36px;
    -fx-background-radius: 8px, 8px;
    -fx-background-repeat: no-repeat, no-repeat;
    -fx-background-size: cover, cover;
    -fx-background-position: center, center;
}

.festivals-header, .podcasts-header {
    -fx-font-weight: bold;
    -fx-font-size: 40px;
    -fx-text-fill: -home-header-color;
}

.festival-thumbnail Label {
    font-weight: 400;
    font-size: 36px;
}

.festival-thumbnail Label.festival-name {
    -fx-font-family: -vollkorn-font-family;
    -fx-font-weight: 500;
    -fx-font-size: 33px;
}

.festival-thumbnail.spring-festival {
    -fx-background-image: url("webfx-css:home/spring-background.png"), url("webfx-css:home/pixel-white-80.png");
    -fx-background-radius: 8px, 8px;
}

.festival-thumbnail.summer-festival {
    -fx-background-image: url("webfx-css:home/summer-background.png"), url("webfx-css:home/pixel-white-80.png");
}

.festival-thumbnail.fall-festival {
    -fx-background-image: url("webfx-css:home/fall-background.png"), url("webfx-css:home/pixel-white-80.png");
}

.festival-thumbnail.spring-festival Label {
    -fx-text-fill: -spring-festival-color;
}

.festival-thumbnail.summer-festival Label {
    -fx-text-fill: -summer-festival-color;
}

.festival-thumbnail.fall-festival Label {
    -fx-text-fill: -fall-festival-color;
}

.festival-thumbnail Button {
    -fx-font-family: -poppins-font-family;
    -fx-font-weight: 600;
    -fx-font-size: 16px;
    -fx-text-fill: white;
    -fx-background-radius: 8px;
    -fx-cursor: hand;
}

.festival-thumbnail.spring-festival Button {
    -fx-background-color: -spring-festival-color;
}

.festival-thumbnail.summer-festival Button {
    -fx-background-color: -summer-festival-color;
}

.festival-thumbnail.fall-festival Button {
    -fx-background-color: -fall-festival-color;
}

.more-events {
    -fx-font-family: -poppins-font-family;
    -fx-font-size: 16px;
    -fx-text-fill: -brand-main-color;
}

.home-podcasts {
    -fx-background-image: url("webfx-css:home/podcasts-background.png"), url("webfx-css:home/pixel-white-80.png");
}

.podcasts-card {
    -fx-background-color: white;
    -fx-background-radius: 8px;
}

.podcasts-card .card-title {
    -fx-font-weight: 600;
    -fx-font-size: 16px;
}

.podcasts-card .card-content {
    -fx-font-weight: 600;
    -fx-font-size: 13px;
    -fx-text-fill: #838788;
}

.home-podcasts Button {
    -fx-font-weight: 600;
    -fx-font-size: 16px;
    -fx-text-fill: white;
    -fx-background-radius: 8px;
    -fx-background-color: -home-header-color;
    -fx-cursor: hand;
}