* {
    -kbs-spring-color: #41BA4D;
    -kbs-summer-color: #F7931E;
    -kbs-fall-color: #8264A0;
}

.event-creator-dialog {
    -fx-font-family: Montserrat, sans-serif;
    -fx-font-size: 24px;
}

.event-creator-dialog Label {
    -fx-text-fill: #838788;
}

.event-creator-dialog ToggleButton {
    -fx-background-color: white;
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, lightgray, 11, 0, 4, 4);
}

.event-creator-dialog ToggleButton.spring-festival {
    -fx-text-fill: -kbs-spring-color;
}

.event-creator-dialog ToggleButton.spring-festival SVGPath {
    -fx-fill: -kbs-spring-color;
}

.event-creator-dialog ToggleButton.summer-festival {
    -fx-text-fill: -kbs-summer-color;
}

.event-creator-dialog ToggleButton.summer-festival SVGPath {
    -fx-fill: -kbs-summer-color;
}

.event-creator-dialog ToggleButton.fall-festival {
    -fx-text-fill: -kbs-fall-color;
}

.event-creator-dialog ToggleButton.fall-festival SVGPath {
    -fx-fill: -kbs-fall-color;
}

.event-creator-dialog ToggleButton.spring-festival:selected {
    -fx-background-color: -kbs-spring-color;
}

.event-creator-dialog ToggleButton.spring-festival:selected SVGPath {
    -fx-fill: white;
}

.event-creator-dialog ToggleButton.spring-festival:selected {
    -fx-text-fill: white;
}

.event-creator-dialog ToggleButton.summer-festival:selected {
    -fx-background-color: -kbs-summer-color;
}

.event-creator-dialog ToggleButton.summer-festival:selected SVGPath {
    -fx-fill: white;
}

.event-creator-dialog ToggleButton.summer-festival:selected {
    -fx-text-fill: white;
}

.event-creator-dialog ToggleButton.fall-festival:selected {
    -fx-background-color: -kbs-fall-color;
}

.event-creator-dialog ToggleButton.fall-festival:selected SVGPath {
    -fx-fill: white;
}

.event-creator-dialog ToggleButton.fall-festival:selected {
    -fx-text-fill: white;
}

