:root {
    --kbs-spring-color: #41BA4D;
    --kbs-summer-color: #F7931E;
    --kbs-fall-color: #8264A0;
}

.event-creator-dialog {
    font-family: Montserrat, sans-serif;
    font-size: 24px;
}

.event-creator-dialog fx-label {
    color: #838788;
}

.event-creator-dialog fx-togglebutton {
    cursor: pointer;
    filter: drop-shadow(4px 4px 5px lightgray);
    --fx-border-style: none;
    --fx-button-background: white;
    --fx-border-radius: 0;
}

.event-creator-dialog fx-togglebutton.spring-festival {
    color: var(--kbs-spring-color);
    --fx-svg-path-fill: var(--kbs-spring-color);
    --fx-togglebutton-selected-background: var(--kbs-spring-color);
}

.event-creator-dialog fx-togglebutton.summer-festival {
    color: var(--kbs-summer-color);
    --fx-svg-path-fill: var(--kbs-summer-color);
    --fx-togglebutton-selected-background: var(--kbs-summer-color);
}

.event-creator-dialog fx-togglebutton.fall-festival {
    color: var(--kbs-fall-color);
    --fx-svg-path-fill: var(--kbs-fall-color);
    --fx-togglebutton-selected-background: var(--kbs-fall-color);
}

.event-creator-dialog fx-togglebutton.selected {
    color: white;
    --fx-svg-path-fill: white;
}
