.podcasts-activity .webfx-switch {
    -fx-cursor: hand;
}

/* Customizing the progress bar for podcasts */
.progress-bar {
    -fx-progress-color: red;
}

.progress-bar .track {
    -fx-background-color: lightgray;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}

.progress-bar .bar {
    -fx-background-color: -brand-main-background-color;
    -fx-background-insets: 0;
    -fx-padding: 5px;
}
