/* Customizing the switch color to orange (when selected) */
.podcasts-activity {
    --kadampa-org-orange-color: #EE7130;
    --webfx-switch-selected-background-color: var(--kadampa-org-orange-color);
}

.podcasts-activity .webfx-switch {
    cursor: pointer;
}

/* Customizing the progress bar for podcasts */
progress {
    border: none;
    background-color: lightgray; /* For FireFox */
}

progress::-webkit-progress-bar { /* For Chrome & Safari */
    background-color: lightgray;
}

progress::-webkit-progress-value { /* For Chrome & Safari */
    background-color: var(--kadampa-org-orange-color);
}

progress::-moz-progress-bar { /* For FireFox */
    background-color: var(--kadampa-org-orange-color);
}
