/* Customizing the switch color to orange (when selected) */
* {
    -kadampa-org-orange-color: #F5761A;
    -webfx-switch-selected-background-color: -kadampa-org-orange-color;
}

.podcasts-activity .webfx-switch {
    -fx-cursor: hand;
}

/* Customizing the progress bar for podcasts */
.progress-bar {
    -fx-progress-color: red;
}

.progress-bar .track {
    -fx-background-color: lightgray;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}

.progress-bar .bar {
    -fx-background-color: -kadampa-org-orange-color;
    -fx-background-insets: 0;
    -fx-padding: 5px;
}
