
.progress-bar {
    -fx-progress-color: red;
}

.progress-bar .track {
    -fx-background-color: lightgray;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}

.progress-bar .bar {
    -fx-background-color: #EE7130;
    -fx-background-insets: 0;
    -fx-padding: 5px;
}
