.online-festival-booking-form {
    -fx-font-family: "Poppins";
}

.online-festival-booking-form .top-bar {
    -fx-font-weight: bold;
    -fx-background-color: #E7E7E7;
    -fx-background-radius: 5px;
    -fx-border-color: #E7E7E7;
    -fx-border-radius: 8px;
}

.online-festival-booking-form .top-bar .title {
    -fx-background-color: white;
    -fx-background-radius: 8px;
}

.online-festival-booking-form .top-bar ToggleButton {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.online-festival-booking-form .price-bar {
    -fx-background-color: #F4F4F4;
    -fx-font-weight: bold;
}

.online-festival-booking-form .price-bar Label.price {
    -fx-text-fill: #838788;
}

.teaching-option-radio-button {
    -fx-font-weight: bold;
}

.teaching-option-period-label {
    -fx-text-fill: #838788;
}

.teaching-option-price-label {
    -fx-font-weight: bold;
    -fx-text-fill: #838788;
}