.online-festival-booking-form {
    -fx-font-family: "Poppins";
}

.teaching-option-radio-button {
    -fx-font-weight: bold;
}

.teaching-option-period-label {
    -fx-text-fill: #838788;
}

.teaching-option-price-label {
    -fx-font-weight: bold;
    -fx-text-fill: #838788;
}

.online-festival-booking-form LabeledText {
    -fx-font-size: 14px;
    -fx-line-spacing: 5px;
}

.online-festival-booking-form .text-area {
    -fx-border-color: black;
    -fx-border-radius: 19px;
    -fx-background-radius: 19px;
}