.online-festival-booking-form {
    font-family: "Poppins", sans-serif;
}

.online-festival-booking-form .top-bar {
    font-weight: bold;
    --fx-background-color: #E7E7E7;
    --fx-background-radius: 8px;
    --fx-border-style: solid;
    --fx-border-color: #E7E7E7;
    --fx-border-width: 1px;
    --fx-border-radius: 8px;
    --fx-button-background-color: transparent;
    --fx-button-border-color: transparent;
    --fx-togglebutton-border-color-hover: transparent;
}

.online-festival-booking-form .top-bar .title {
    --fx-background-color: white;
    --fx-background-radius: 8px;
    --fx-border-style: solid;
    --fx-border-color: #E7E7E7;
    --fx-border-width: 1px;
    --fx-border-radius: 8px;
}

.online-festival-booking-form .price-bar {
    font-weight: bold;
    --fx-background-color: #F4F4F4;
}

.online-festival-booking-form .price-bar fx-label.price {
    --fx-text-fill: #838788;
}

.teaching-option-radio-button {
    font-weight: bold;
}

.teaching-option-period-label {
    --fx-text-fill: #838788;
}

.teaching-option-price-label {
    font-weight: bold;
    --fx-text-fill: #838788;
}