.root {
    -kbs-spring-color: #41BA4D;
    -kbs-summer-color: #F7931E;
    -kbs-fall-color: #8264A0;
    -kbs-festival-color: unset;
}

.event-creator-dialog {
    -fx-font-family: Montserrat, sans-serif;
    -fx-font-size: 24px;
}

.event-creator-dialog Label {
    -fx-text-fill: #838788;
}

.event-creator-dialog ToggleButton {
    -fx-cursor: hand;
    -webfx-aria-toggle-button-background-color-fired: -kbs-festival-color;
    -webfx-aria-toggle-button-text-fill-fired: white;
    -fx-text-fill: -kbs-festival-color;
    -fx-effect: dropshadow(three-pass-box, lightgray, 11, 0, 4, 4);
    -fx-background-color: white;
}

.event-creator-dialog ToggleButton:hover { /* Otherwise another CSS rule sets it to transparent somewhere and this prevents the effect */
    -fx-background-color: white;
}

.event-creator-dialog .spring-festival {
    -kbs-festival-color: -kbs-spring-color;
}

.event-creator-dialog .summer-festival {
    -kbs-festival-color: -kbs-summer-color;
}

.event-creator-dialog .fall-festival {
    -kbs-festival-color: -kbs-fall-color;
}

