* {
    -kbs-spring-color: #41BA4D;
    -kbs-summer-color: #F7931E;
    -kbs-fall-color: #8264A0;
    -kbs-festival-color: unset;
}

.event-creator-dialog {
    -fx-font-family: Montserrat, sans-serif;
    -fx-font-size: 24px;
}

.event-creator-dialog Label {
    -fx-text-fill: #838788;
}

.event-creator-dialog ToggleButton {
    -fx-background-color: white;
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, lightgray, 11, 0, 4, 4);
    -fx-text-fill: -kbs-festival-color;
}

.event-creator-dialog ToggleButton SVGPath {
    -fx-fill: -kbs-festival-color;
}

.event-creator-dialog ToggleButton:selected {
    -fx-background-color: -kbs-festival-color;
    -fx-text-fill: white;
}

.event-creator-dialog ToggleButton:selected SVGPath {
    -fx-fill: white;
}

.event-creator-dialog .spring-festival, .event-creator-dialog .spring-festival SVGPath {
    -kbs-festival-color: -kbs-spring-color;
}

.event-creator-dialog .summer-festival, .event-creator-dialog .summer-festival SVGPath {
    -kbs-festival-color: -kbs-summer-color;
}

.event-creator-dialog .fall-festival, .event-creator-dialog .fall-festival SVGPath {
    -kbs-festival-color: -kbs-fall-color;
}

