:root {
    --kbs-spring-color: #41BA4D;
    --kbs-summer-color: #F7931E;
    --kbs-fall-color: #8264A0;
    --kbs-festival-color: unset;
}

.event-creator-dialog, .event-creator-dialog input {
    font-family: Montserrat, sans-serif;
    font-size: 24px;
}

.event-creator-dialog fx-label {
    color: #838788;
}

.event-creator-dialog fx-togglebutton {
    cursor: pointer;
    filter: drop-shadow(4px 4px 5px lightgray);
    --fx-border-style: none;
    --fx-border-radius: 0;
    --fx-background-color: white;
    --fx-text-fill: var(--kbs-festival-color);
}

.event-creator-dialog fx-togglebutton.fired {
    --fx-background-color: var(--kbs-festival-color);
    --fx-text-fill: white;
}

.event-creator-dialog fx-togglebutton.spring-festival {
    --kbs-festival-color: var(--kbs-spring-color);
}

.event-creator-dialog fx-togglebutton.summer-festival {
    --kbs-festival-color: var(--kbs-summer-color);
}

.event-creator-dialog fx-togglebutton.fall-festival {
    --kbs-festival-color: var(--kbs-fall-color);
}

